@use 'variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: vars.$font-main;
  font-weight: vars.$font-weight-400;
  color: vars.$blue-800;
}
li {
  list-style-type: none;
}

.text-bold {
  font-weight: vars.$font-weight-700;
}
