@use 'variables' as vars;
@use 'mixins' as mix;

body {
  background-color: vars.$blue-700;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mix.tablet {
    height: 100vh;
    margin: 100px auto;
  }
  @include mix.desktop {
    height: 100vh;
  }
}

.wrapper {
  background-color: vars.$white;
  max-width: 904px;
  // display: none; // when valid is true

  @include mix.tablet {
    padding: vars.$spacing-40;
    border-radius: vars.$radius-36;
  }
  @include mix.desktop {
    display: flex;
    flex-direction: row-reverse;
    padding: vars.$spacing-32;
    gap: 64px;
    height: 600px;
    align-items: stretch;
  }
}

.image {
  flex: 1;
  img {
    width: auto;

    @include mix.desktop {
      width: 400px;
      height: 100%;
      object-fit: cover;
      border-radius: vars.$radius-16;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  padding: vars.$spacing-40 vars.$spacing-24;

  @include mix.tablet {
    padding-bottom: 0;
  }

  @include mix.desktop {
    padding: vars.$spacing-40 0;
  }
}

.title {
  font-size: vars.$size-40;

  @include mix.tablet {
    font-size: vars.$size-56;
  }
}
.hero__details {
  padding: vars.$spacing-24 0 vars.$spacing-40;
  line-height: vars.$line-height-large;

  @include mix.desktop {
    padding: vars.$spacing-32 0;
  }
}
.hero__subtitle {
  font-size: vars.$font-base;
  font-weight: vars.$font-weight-400;
}

.list {
  margin-top: vars.$spacing-24;
}

.list li {
  display: flex;
  align-items: flex-start;
  gap: vars.$spacing-16;
  margin-bottom: vars.$spacing-8;
}
.list li:last-child {
  margin-bottom: 0;
}

.newsletter-form {
  &__field {
    margin-bottom: vars.$spacing-24;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    font-size: vars.$size-12;
    font-weight: vars.$font-weight-700;
  }

  &__input {
    width: 100%;
    padding: vars.$spacing-24 vars.$spacing-16;
    border-radius: vars.$radius-8;
    outline-color: vars.$grey;
    margin-top: vars.$spacing-8;
    color: vars.$blue-800;

    &::placeholder {
      color: vars.$grey;
      font-size: vars.$font-base;
    }
  }

  &__btn {
    padding: vars.$spacing-16;
    background-color: vars.$blue-800;
    color: vars.$white;
    line-height: vars.$line-height-large;
    font-weight: vars.$font-weight-700;
    border-radius: vars.$spacing-8;
    width: 100%;

    @include mix.desktop {
      background: vars.$linear-gradient;
      border: none;
    }
  }
}

// success message

.success__message {
  display: none;
  max-width: 504px;
  background-color: vars.$white;
  height: 100vh;
  padding: vars.$spacing-100 vars.$spacing-24;

  @include mix.tablet {
    height: 520px;
    padding: vars.$spacing-64;
    border-radius: vars.$radius-36;
  }

  &-title {
    font-size: vars.$size-40;
    margin: vars.$spacing-24 0;
  }
  &-text {
    line-height: vars.$line-height-large;
  }
  .dismiss__btn {
    color: vars.$white;
    background: vars.$linear-gradient;
    width: 100%;
    padding: 16px;
    border-radius: vars.$radius-8;
    border: none;
    line-height: vars.$line-height-large;
    margin-top: vars.$spacing-100;

    @include mix.tablet {
      margin-top: vars.$spacing-32;
      background: vars.$blue-800;
    }
  }
}
.error-msg {
  color: vars.$red;
  background-color: vars.$red-100;
  border: 2px solid vars.$red;
}

.error {
  display: none;
  color: vars.$red;
  font-size: vars.$size-12;
  line-height: vars.$line-height-large;
}
