//colors

$blue-800: hsl(234, 29%, 20%);
$blue-700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%, 58%);
$white: hsl(0, 0%, 100%);
$red: hsl(4, 100%, 67%);
$linear-gradiet: linear-gradient(
  90deg,
  rgba(255, 106, 58, 1) 0%,
  rgba(255, 82, 123, 1) 50%
);

// font

$font-main: 'Roboto', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$line-height-base: 1;
$line-height-large: 1.5;

// font sizes

$font-base: 1rem;
$size-56: 3.5rem;
$size-40: 2.5rem;
$size-12: 0.75rem;

// spacing

$spacing-8: 0.5rem; // 8px
$spacing-16: 1rem; // 16px
$spacing-24: 1.5rem; // 24px
$spacing-32: 2rem; // 32px
$spacing-40: 2.5rem; // 40px
$spacing-64: 4rem; //64px

$radius-8: 0.5rem; // 8px
$radius-16: 1rem; // 16px
$radius-36: 2.25rem; // 36px
